a {
  color: black;
}
img {
  width: 20px;
}
body {
  background-color: #c4c4c4;
  margin: 0px;
  font-family: "Noto Sans TC";
}

.espacamento {
  background-color: #ffff;
  height: 70px;
}
.container2 {
  background-color: #ffff;
  margin-left: 10%;
  margin-right: 10%;
}
.container {
  padding: 8px;
  background-color: #ffff;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
}
.navbar {
  background: #ffff;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
}
.navbar .container {
  box-shadow: none;
}
